html {background-color: #1B4C39}

/***** header *****/
header { height: 238px;
  width: 100%; background: none}

/***** header image *****/
.riverImage { background-size: cover; width: 100%; height: 117.6%; margin-bottom: 100px }

/***** body NAVBAR header *****/
.nav { background: #1B4C39 }

/***** body NAVBAR tabs*****/
.nav .nav-item { color: #1B4C39 ; background: #eee1c6; border-color: #1B4C39 !important }

/***** body NAVBAR active tab*****/
.nav .active { color: #eee1c6 !important; background: #1B4C39 !important;  }

/***** body NAVBAR undertab pane *****/
.tab-content .tab-pane { background: #1B4C39 }

/***** body paragraph *****/
body { background: #1B4C39 }

/***** body image borders *****/
.img-thumbnail {background-color: #eee1c6 !important; color: #1B4C39 !important}

/***** body resume image *****/
.resumeImage { width: 90%; height: 90%;}

/***** body works images *****/
.col-md-4 {margin-top: 40px}

/***** all containers-fluid *****/
.container-fluid { background: #1B4C39; padding: 20px}

/***** all headers *****/
h1, h2, h3, h4, h5, h6 { color: #eee1c6;
    background: #1B4C39; 
	font-size: 20px}
h1 {font-size: 30px !important}
h2 {font-size: 25px !important}
h5 {font-size: 15px !important}

/***** body welcome text *****/
.opening-text {text-align: left; text-justify: center; margin-top: 30px; margin-left: 40px; text-indent: -22px}

/***** body profile image&text *****/
.profile-image { width: 200px; height: 200px}
.profile-col {text-align: center; text-justify: center; margin-top: -20px ; margin-bottom: -20px}

/***** all paragraphs *****/
p { color: #eee1c6;
    background:#1B4C39;
    font-size: 15px; }

/***** body buttons *****/
.resumeButton {padding:5px}
.worksButton {padding:5px}
.homeButton {padding:5px}

/***** footer content *****/
footer { background:#1B4C39; text-justify: center; text-align: center; }

/***** footer linkedIn link *****/
.linkedIn { height: 60px; width: 60px}